In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
df_defender = pd.read_csv('../../data/Stats_csv/Defender_stats.csv')
df_defender

,Name,Nationality,Date of Birth,Height,Club,Position,Appearances,Wins,Losses,Clean sheets,...,Accurate long balls,Yellow cards,Red cards,Fouls,Offsides,Goals,Headed goals,Goals with right foot,Goals with left foot,Hit woodwork
0,Aaron Anselmino,Argentina,29/04/2005,188cm,NaN,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,Aaron Cresswell,England,15/12/1989 (34),170cm,West Ham United,Defender,4,3,1,0.0,...,2,1,0,1,0,0,0,0,0,0
2,Aaron Hickey,Scotland,10/06/2002 (22),178cm,Brentford,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,Aaron Keto-Diyawa,England,11/09/2003,NaN,NaN,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,Aaron Wan-Bissaka,England,26/11/1997 (27),183cm,West Ham United,Defender,11,4,4,1.0,...,10,0,0,9,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Zak Sturge,England,15/06/2004,NaN,NaN,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
316,Zane Monlouis,Jamaica,16/10/2003 (21),185cm,Arsenal,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
317,Zanka,Denmark,23/04/1990,191cm,NaN,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
318,Álex Moreno,Spain,08/06/1993 (31),179cm,Nottingham Forest,Defender,9,4,3,1.0,...,6,2,0,11,0,0,0,0,0,0
319,Álvaro Carreras,Spain,23/03/2003,186cm,NaN,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_defender.isnull().sum()

Name                        0
Nationality                 0
Date of Birth               1
Height                     32
Club                      133
Position                    0
Appearances                 0
Wins                        0
Losses                      0
Clean sheets                1
Goals Conceded              1
Tackles                     0
Tackle success %            0
Last man tackles            1
Blocked shots               0
Interceptions               0
Clearances                  0
Headed Clearance            0
Clearances off line         1
Recoveries                  0
Duels won                   0
Duels lost                  0
Successful 50/50s           0
Aerial battles won          0
Aerial battles lost         0
Own goals                   1
Errors leading to goal      0
Assists                     0
Passes                      0
Passes per match            0
Big Chances Created         0
Crosses                     0
Cross accuracy %            0
Through balls               0
Accurate long balls         0
Yellow cards                0
Red cards                   0
Fouls                       0
Offsides                    0
Goals                       0
Headed goals                0
Goals with right foot       0
Goals with left foot        0
Hit woodwork                0
dtype: int64

Processing

In [21]:
def processing_data(df):
    # Sắp xếp theo cột 'Appearances' (nếu cần) và loại bỏ các dòng trùng lặp theo 'Name'
    df = df.sort_values(by='Appearances', ascending=False)
    df = df.drop_duplicates(subset=['Name'], keep='last')
    
    # Xóa các dòng có giá trị NaN
    df = df.dropna()
    
    # Chuẩn hóa cột 'Date of Birth'
    def std_date_of_birth(date):
        try:
            return date.split(" ")[0]
        except AttributeError:  # Xử lý lỗi nếu giá trị không phải chuỗi
            return date
    
    # Chuẩn hóa cột 'Height'
    def std_height(height):
        try:
            return float(height.split("c")[0]) if isinstance(height, str) else height
        except ValueError:  # Xử lý lỗi nếu giá trị không thể chuyển thành số
            return height
    def std_Passes(Passes):
        try:
            return int(''.join(Passes.split(','))) if isinstance(Passes,str) else Passes
        except ValueError:
            return Passes
    df['Passes'] = df['Passes'].apply(std_Passes)
    df['Date of Birth'] = df['Date of Birth'].apply(std_date_of_birth)
    df['Height'] = df['Height'].apply(std_height)
    
    return df

In [22]:
df_defender = processing_data(df_defender)

In [23]:
df_defender

,Name,Nationality,Date of Birth,Height,Club,Position,Appearances,Wins,Losses,Clean sheets,...,Accurate long balls,Yellow cards,Red cards,Fouls,Offsides,Goals,Headed goals,Goals with right foot,Goals with left foot,Hit woodwork
275,Taylor Harwood-Bellis,England,30/01/2002,188.0,Southampton,Defender,13,1,10,1.0,...,30,5,0,13,0,1,1,0,0,0
183,Lewis Hall,England,08/09/2004,179.0,Newcastle United,Defender,13,5,4,2.0,...,30,3,0,5,0,0,0,0,0,0
203,Marc Guéhi,England,13/07/2000,182.0,Crystal Palace,Defender,13,1,6,2.0,...,61,2,0,6,0,2,0,1,1,0
89,Gabriel Magalhães,Brazil,19/12/1997,190.0,Arsenal,Defender,13,6,2,4.0,...,27,1,0,9,0,3,3,0,0,0
248,Rayan Aït-Nouri,Algeria,06/06/2001,180.0,Wolverhampton Wanderers,Defender,12,2,7,0.0,...,8,4,0,17,1,3,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,Zane Monlouis,Jamaica,16/10/2003,185.0,Arsenal,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
280,Thierry Katsukunya,Wales,30/11/2005,180.0,Aston Villa U19,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
90,Garang Kuol,Australia,15/09/2004,175.0,Newcastle United,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
21,Bastien Meupiyou,France,19/03/2006,191.0,Wolverhampton Wanderers,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
22,Ben Chilwell,England,21/12/1996,178.0,Chelsea,Defender,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_defender.columns

Index(['Name', 'Nationality', 'Date of Birth', 'Height', 'Club', 'Position',
       'Appearances', 'Wins', 'Losses', 'Clean sheets', 'Goals Conceded',
       'Tackles', 'Tackle success %', 'Last man tackles', 'Blocked shots',
       'Interceptions', 'Clearances', 'Headed Clearance',
       'Clearances off line', 'Recoveries', 'Duels won', 'Duels lost',
       'Successful 50/50s', 'Aerial battles won', 'Aerial battles lost',
       'Own goals', 'Errors leading to goal', 'Assists', 'Passes',
       'Passes per match', 'Big Chances Created', 'Crosses',
       'Cross accuracy %', 'Through balls', 'Accurate long balls',
       'Yellow cards', 'Red cards', 'Fouls', 'Offsides', 'Goals',
       'Headed goals', 'Goals with right foot', 'Goals with left foot',
       'Hit woodwork'],
      dtype='object')

In [31]:
df_defender.to_csv('../../data/Stats_csv/Processed_Defender_data.csv',index=False)