In [1]:
import pandas as pd

In [2]:
df_goalkeeper = pd.read_csv('../../data/Stats_csv/Forward_stats.csv')

In [8]:
def std_date_of_birth(date):
    return date.split(" ")[0]

def std_height(height):
    return height.split("c")[0]

df_goalkeeper['Date of Birth'] = df_goalkeeper['Date of Birth'].apply(std_date_of_birth)
df_goalkeeper['Height'] = df_goalkeeper['Height'].apply(std_height)
df_goalkeeper

,Name,Nationality,Date of Birth,Height,Club,Position,Appearances,Wins,Losses,Goals,...,Crosses,Yellow cards,Red cards,Fouls,Offsides,Tackles,Blocked shots,Interceptions,Clearances,Headed Clearance
1,Abdul Fatawu,Ghana,08/03/2004,177,Leicester City,Forward,11,2,5,0,...,30,0,0,11,2,21,2,4,12,9
2,Adam Armstrong,England,10/02/1997,172,Southampton,Forward,10,1,7,2,...,10,3,0,8,3,6,6,2,5,2
4,Alejandro Garnacho,Argentina,01/07/2004,180,Manchester United,Forward,12,4,4,3,...,18,1,0,5,3,13,7,5,6,3
7,Alex Iwobi,Nigeria,03/05/1996,180,Fulham,Forward,12,5,4,3,...,40,1,0,4,1,19,6,4,12,1
10,Alexander Isak,Sweden,21/09/1999,192,Newcastle United,Forward,11,5,4,4,...,5,0,0,9,6,4,13,1,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Will Lankshear,England,20/04/2005,188,Tottenham Hotspur,Forward,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
222,William Osula,Denmark,04/08/2003,180,Newcastle United,Forward,4,1,3,0,...,0,0,0,0,1,0,0,0,0,0
224,Wilson Odobert,France,28/11/2004,182,Tottenham Hotspur,Forward,3,1,2,0,...,5,0,0,0,0,5,3,0,1,0
226,Yankuba Minteh,Gambia,22/07/2004,180,Brighton & Hove Albion,Forward,8,3,1,1,...,31,2,0,6,1,5,2,3,3,1
227,Youssef Chermiti,Portugal,24/05/2004,192,Everton,Forward,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Identify duplicates based on 'Name'
duplicates = df_goalkeeper.sort_values(by='Appearances').duplicated(subset='Name',keep='first')

# Remove all duplicate rows from the original DataFrame
df_goalkeeper = df_goalkeeper[~duplicates]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_50140\3397348837.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_goalkeeper = df_goalkeeper[~duplicates]

In [7]:
df_goalkeeper = df_goalkeeper.dropna()

In [9]:
df_goalkeeper.to_csv('../../data/Stats_csv/Processed_Goalkeeper_data.csv',index=False)